<div id="titleDiv"><h1 style="font-family:Palatino; font-size: 40px">Blackjack</h1></div>
<p id="choice"></p>
<link href="/assets/css/custom.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<body>


<div class="row">
    <div class="col-md-10">
        <table class="table">
            <tr class="title">
                <td>Dealer's Hand</td>
            </tr>

            <tr><td class="columnOfCards" id="dealerc0">
                <table class="table">
                    <tr><td class="cardLocation l0"></td></tr>
                    <tr><td class="cardLocation l1"></td></tr>
                    <tr><td class="cardLocation l2"></td></tr>
                    <tr><td class="cardLocation l3"></td></tr>
                    <tr><td class="cardLocation l4"></td></tr>
                    <tr><td class="cardLocation l5"></td></tr>
                </table>
            </td>
            </tr>
        </table>
    </div>

    <br><br><br><br>

    <p style="font-family:Century Gothic; font-size: 17px; float:right; padding-right: 4.5%">Message Box</p>
    <div id="messageBox" style="border:2px; border-style:solid; border-color:; padding=0.5em; " class="col-md-2 bg-danger">
        <p id="textArea" style="text-align:center">Message Box (id=textArea)</p>
    </div>

    <div class="col-md-10">
    <table class="table">
        <tr class="title">
            <td>Your Hand</td>
            <td>Split Hand</td>
        </tr>

        <tr><td class="columnOfCards" id="c1">
                <table class="table">
                    <tr><td class="cardLocation l0"></td></tr>
                    <tr><td class="cardLocation l1"></td></tr>
                    <tr><td class="cardLocation l2"></td></tr>
                    <tr><td class="cardLocation l3"></td></tr>
                    <tr><td class="cardLocation l4"></td></tr>
                    <tr><td class="cardLocation l5"></td></tr>
                    <tr><td><button id="splitButton" class="btn btn-success">Split</button></td></tr>
                </table>
            </td>
            <td class="columnOfCards" id="c2">
                <table class="table">
                    <tr><td class="cardLocation l0"></td></tr>
                    <tr><td class="cardLocation l1"></td></tr>
                    <tr><td class="cardLocation l2"></td></tr>
                    <tr><td class="cardLocation l3"></td></tr>
                    <tr><td class="cardLocation l4"></td></tr>
                    <tr><td class="cardLocation l5"></td></tr>
                </table>
            </td>
        </tr>
    </table>
    </div>
</div>

<div class = "container">
<div class = "row">
    <div class = "col-md-2">
        <button id="stayButton">Stay</button>
    </div>
    <div class = "col-md-offset-1 col-md-2">
        <button id="hitButton" class="btn btn-danger">Hit</button>
    </div>
    <div class = "col-md-offset-1 col-md-2">
        <button id="newGame" class="btn btn-warning">New Game</button>
    </div>
    <div class = "col-md-offset-1 col-md-2">
        <button id="inst" class="btn btn-warning">Deal</button>
    </div>
</div>
</div>
<script>
var game;
var game2;
var counter;
var ifSplit = 0;
var dealerFCard;
var firstCard;
var pScore,spScore,dScore;
var winner;

function start(){
 $.ajax({
  type: "GET",
  url: "/game/player",
  data: JSON.stringify(game),
  success: function(data, status){console.log("PlayerStartData: " + data + "\nStatus: " + status);
        game = data;
        pScore = game['playerScore'];
        spScore = game['splitScore'];
        displayUser(data);
        },
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
}

function start2(){
 $.ajax({
  type: "GET",
  url: "/game/dealer",
  data2: JSON.stringify(game2),
  success: function(data2, status){console.log("DealerStartData: " + data2 + "\nStatus: " + status);
        game2 = data2;
        dScore = game2['dealerScore'];
        displayDealer(data2);
        },
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
}

start();
start2();


function displayUser(game) {
counter = 0;
console.log(game);
$( '.columnOfCards .cardLocation' ).html("");
     $.each(game.cols[1], function( key, val ) {
            $( '#c1 .l'+key ).html(val.value + " of " + val.suit);
     });
     $.each(game.cols[2], function( key, val ) {
            $( '#c2 .l'+key ).html(val.value + " of " + val.suit);
     });
     $.each(game2.cols[0], function( key, val ) {
        if(counter == 0){
            $( '#dealerc0 .l'+key ).html("Hidden");
            dealerFCard = val.value + " of " + val.suit;
            counter = 1;
        }
        else{
            $( '#dealerc0 .l'+key ).html(val.value + " of " + val.suit);
        }
     });
}

function displayDealer(game2) {
counter = 0;
console.log(game2);
$( '.columnOfCards .cardLocation' ).html("");
     $.each(game2.cols[0], function( key, val ) {
            if(counter == 0){
              $( '#dealerc0 .l'+key ).html("Hidden");
              dealerFCard = val.value + " of " + val.suit;
              counter = 1;
            }
            else{
               $( '#dealerc0 .l'+key ).html(val.value + " of " + val.suit);
            }
        });
     $.each(game.cols[1], function( key, val ) {
            $( '#c1 .l'+key ).html(val.value + " of " + val.suit);
     });
     $.each(game.cols[2], function( key, val ) {
            $( '#c2 .l'+key ).html(val.value + " of " + val.suit);
     });
}

function displayFull(game) {
firstCard = 0
console.log(game);
$( '.columnOfCards .cardLocation' ).html("");
     $.each(game.cols[1], function( key, val ) {
            $( '#c1 .l'+key ).html(val.value + " of " + val.suit);
     });
     $.each(game.cols[2], function( key, val ) {
            $( '#c2 .l'+key ).html(val.value + " of " + val.suit);
     });
     $.each(game2.cols[0], function( key, val ) {
            if(firstCard == 0){
                $( '#dealerc0 .l'+key ).html(dealerFCard);
                firstCard = 1;
            }
            else{
            $( '#dealerc0 .l'+key ).html(val.value + " of " + val.suit);
            }
     });
}

function dealerDisplayFull(game2) {
firstCard = 0;
console.log(game2);
$( '.columnOfCards .cardLocation' ).html("");
     $.each(game2.cols[0], function( key, val ) {
        if(firstCard == 0){
               $( '#dealerc0 .l0' ).html(dealerFCard);
               firstCard = 1;
        }
        else{
               $( '#dealerc0 .l'+key ).html(val.value + " of " + val.suit);
        }
        });
     $.each(game.cols[1], function( key, val ) {
            $( '#c1 .l'+key ).html(val.value + " of " + val.suit);
     });
     $.each(game.cols[2], function( key, val ) {
            $( '#c2 .l'+key ).html(val.value + " of " + val.suit);
     });
}

function hit(colNumber){
$.ajax({
  type: "POST",
  url: "/hit/player/"+colNumber,
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        console.log(game);
        pScore = game['playerScore'];
        spScore = game['splitScore'];
        displayUser(data);
        displayDealer(game2);
        },
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
}

$("#hitButton").click(function(){
    if(ifSplit == 0 || ifSplit == 1){
        hit(1);
    }
    else{
        hit(2);
    }
});

$("#newGame").click(function(){
    location.reload();
});

$("#splitButton").click(function(){
ifSplit = 1;
$.ajax({
  type: "POST",
  url: "/split",
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        var errMsg=game["errMsg"];
        displayUser(data);
        displayDealer(game2);
        document.getElementById("textArea").innerHTML=errMsg;
},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});

function playTheGame(){

}

function checkTheGame(){
alert("passing in dscore: " + dScore);
alert("passing in pscore: " + pScore);

}
///////////////////////////////////////////////////////////////////////////////////////////////
$("#stayButton").click(function(){
   if(ifSplit == 0){
        //playTheGame();
        //checkTheGame();
$.ajax({
  type: "POST",
  url: "/noSplitData",
  data: JSON.stringify(game2),
  success: function(data, status){console.log("DealerDataPlayedGame: " + data + "\nStatus: " + status);
        game2 = data;
        dealerDisplayFull(game2);
        displayFull(game);
        dScore = game2['dealerScore'];
        pScore = game['playerScore'];
        alert(dScore);
        alert(pScore);
        if(pScore > 21){
            pScore = 0;
        }
        if (dScore > pScore)
        {
            document.getElementById("textArea").innerHTML = "Dealer wins";
        }
        else if (pScore > dScore)
        {
            document.getElementById("textArea").innerHTML = "Player wins";
        }
        else
        {
            document.getElementById("textArea").innerHTML = "Draw";
        }
    },
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});


///////////////////////////////////////////////////////////////////////////////////////////////
   }
    else if(ifSplit == 1){
        document.getElementById("textArea").innerHTML = "Now playing split hand";
        ifSplit = 2;
    }

    else{
        $.ajax({
  type: "POST",
  url: "/noSplitData",
  data: JSON.stringify(game2),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game2 = data;
        dealerDisplayFull(game2);
        displayFull(game);
        dScore = game2['dealerScore'];
        pScore = game['playerScore'];
        spScore = game['splitScore'];
        if(pScore > 21){
            pScore = 0;
        }
        if(spScore > 21){
            spScore = 0;
        }
        if(pScore > spScore){
        if (dScore > pScore){
            document.getElementById("textArea").innerHTML = "Dealer wins";
        }
        else if (pScore > dScore)
        {
            document.getElementById("textArea").innerHTML = "Player wins";
        }
        else
        {
            document.getElementById("textArea").innerHTML = "Draw";
        }
        }
        else if(spScore > pScore){
            if(dScore > spScore){
            document.getElementById("textArea").innerHTML = "Dealer wins";
            }
            else if(spScore > dScore){
                        document.getElementById("textArea").innerHTML = "Player split hand wins";
            }
            else{
                        document.getElementById("textArea").innerHTML = "Draw";
            }

        }
    },
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});

//-------------------------------------------------------------------------------------------------
       /* $.ajax({
  type: "POST",
  url: "/noSplitData",
  data: JSON.stringify(game2),
  success: function(data, status){console.log("DealerDataPlayedGame: " + data + "\nStatus: " + status);
        game2 = data;
        dealerDisplayFull(game2);
        displayFull(game);
        dScore = game2['dealerScore'];
        pScore = game['playerScore'];
        spScore = game['splitScore'];
        if (dScore > 21)
        {
            dScore = 0;
        }
        if (pScore > 21)
        {
            pScore = 0;
        }
        if (spScore > 21)
        {
            spScore = 0;
        }
        alert(dScore);
        if ((pScore > spScore))
        {
            if (dScore > pScore)
            {
                document.getElementById("textArea").innerHTML = "Dealer wins";
            }
            else if (pScore > dScore)
            {
                document.getElementById("textArea").innerHTML = "Player wins";
            }
            else
            {
                document.getElementById("textArea").innerHTML = "Draw";
            }
        }
        else if ((spScore>pScore))
        {
            if (dScore > spScore)
            {
                document.getElementById("textArea").innerHTML = "Dealer wins";
            }
            else if (spScore > dScore)
            {
                document.getElementById("textArea").innerHTML = "Player wins";
            }
            else
            {
                document.getElementById("textArea").innerHTML = "Draw";
            }
        }
        else if (spScore==pScore)
        {
            document.getElementById("textArea").innerHTML = "Draw sp=p";
        }
        else
        {
            document.getElementById("textArea").innerHTML = "Dealer";
        }
        //alert("pScore: " + pScore);
        //alert("first objectDealerScore: " + game2['dealerScore']);
    },
  contentType:"application/json; charset=utf-8",
  dataType:"json",
}); */
    }

});

</script>

</body>
</html>